
* {
    padding: none;
    margin: none;
}
body {
    font-family: var(--font);
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color-one);
}
.img-logo {
    width: 200px;
}
nav {
    background-color: var(--main-color-one);
    width: 100%;
    padding:var(--padding-m);
    display: flex;
    justify-content: space-between;
}
header {
    position: sticky;
    top: 0px;
    z-index: 5;
}
.inside-nav {
    display: flex;
    align-items: center;
}
.nav-links {
    padding-left: var(--padding-m);
    font-size: 20px;
    text-decoration: none;
    color: var(--main-color-two);
}
.search-form {
    display: flex;
}
.search-input {
    margin-right: 0px;
    background-color: var(--main-color-one);
    color: var(--main-color-one);
    font-size: 20px;
}

.input-color {
    border-radius: var(--border-r-s) 0px 0px var(--border-r-s);
    border: var(--border-w) solid var(--secondary-color-two);
    height: 50px;
    width: 400px;
    color: var(--secondary-color-two);
}


.search-button {
    background-color: var(--main-color-one);
    border-radius: 0px var(--border-r-s) var(--border-r-s) 0px;
    border: var(--border-w) solid var(--main-color-two);
    width: 50px;
}
.search-button:hover {
    background-color: var(--main-color-two);
    .seach-icon {
        color: var(--main-color-one);
    }
}

.seach-icon {
    color: var(--main-color-two);
    font-size: 26px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-one);
    padding:var(--padding-m);
    color: var(--main-color-two);
}

.content-div {
    width: 100%;
    padding: var(--padding-b);
}