{% load static %}
<nav>
    <div class="inside-nav">
        <a href="">
            <img class="img-logo" src="{% static 'img/logo1.svg' %}" alt="" style="width: 200px;">
        </a>
        <div class="for-nav-links">
            <a href="" class="nav-links">About us</a>
            <a href="" class="nav-links">Catalog</a>
            <a href="" class="nav-links">Blog</a>
        </div>
    </div>
    <div >
        <form class="search-form" role="search">
            <input class="search-input input-color" type="search" placeholder="Search" aria-label="Search">
            <button class="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass seach-icon"></i>
            </button>
        </form>
    </div>
</nav>